.hero-portrait-container {
  height: 20px;
}

.match-placement-log-row .match-cell {
  background-color: #9dc3e3;
}

.match-placement-row .match-cell.comment-cell,
.match-placement-row .match-cell.time-cell,
.match-placement-row .match-cell.throwers-leavers-cell,
.match-placement-row .match-cell.options-cell,
.match-placement-row .match-cell.potg-cell {
  background-color: #efefef;
}

.match-placement-row .match-cell.options-cell {
  border: none;
  background-color: transparent;
  padding: 0.4em 0 0 7px;
  display: block;
  margin-right: -18px;
  visibility: hidden;
}

.match-row:hover .options-cell,
.match-placement-row:hover .match-cell.options-cell,
.match-header-row:hover .options-header {
  visibility: visible;
}

.theme-dark .match-placement-row .match-cell.comment-cell,
.theme-dark .match-placement-row .match-cell.time-cell,
.theme-dark .match-placement-row .match-cell.throwers-leavers-cell,
.theme-dark .match-placement-row .match-cell.options-cell,
.theme-dark .match-placement-row .match-cell.potg-cell {
  background-color: #3a434b;
}

.css-truncate .css-truncate-target.comment-truncate-target {
  max-width: 11em;
}

.throwers-leavers-cell .Counter + .Counter {
  margin-left: 5px;
}
