.hero-portrait-container {
  height: 20px;
}

.match-header {
  border: 1px solid #000;
  padding: 0.3em 0.6em;
}

.match-header {
  background-color: #bed6ed;
}

.match-placement-log-row .match-cell {
  background-color: #9dc3e3;
}

.match-placement-row .match-cell.comment-cell,
.match-placement-row .match-cell.time-cell,
.match-placement-row .match-cell.throwers-leavers-cell,
.match-placement-row .match-cell.options-cell,
.match-placement-row .match-cell.potg-cell {
  background-color: #efefef;
}

.match-placement-row .match-cell.options-cell,
.options-header {
  border: none;
  background-color: transparent;
  padding: 0.4em 0 0 7px;
  display: block;
  margin-right: -18px;
  visibility: hidden;
}

.match-row:hover .options-cell,
.match-placement-row:hover .match-cell.options-cell,
.match-header-row:hover .options-header {
  visibility: visible;
}

.match-placement-log-row .match-number-cell.match-cell {
  background-color: #d0cece;
}

.match-number-cell.match-placement-number-cell {
  background-color: #e8e8e8;
}

.theme-dark .match-placement-row .match-cell.comment-cell,
.theme-dark .match-placement-row .match-cell.time-cell,
.theme-dark .match-placement-row .match-cell.throwers-leavers-cell,
.theme-dark .match-placement-row .match-cell.options-cell,
.theme-dark .match-placement-row .match-cell.potg-cell {
  background-color: #3a434b;
}

.theme-dark .match-number-cell.match-cell,
.theme-dark .match-placement-log-row .match-number-cell.match-cell {
  background-color: #444d56;
  color: #d1d5da;
}

.css-truncate .css-truncate-target.comment-truncate-target {
  max-width: 11em;
}

.throwers-leavers-cell .Counter + .Counter {
  margin-left: 5px;
}
