@import "colors.scss";

.carousel-image {
  display: none;
  padding: 16px;

  &.active {
    display: block;
  }
}

.carousel-nav {
  overflow-x: auto;
  box-shadow: inset 0 1px 0 #fafbfc;
}

.carousel-nav-item {
  width: 20%;
  padding: 16px;
  font-size: inherit;
  text-decoration: none;
  white-space: nowrap;
  user-select: none;
  background-color: transparent;
  border: 0;
  appearance: none;

  &.active {
    background-color: #fafbfc;
    box-shadow: inset 0 0 4px rgba(36,41,46,0.15);
  }
}
