/* http://www.colourlovers.com/palette/4272266/The_Sidhe?sAC=1 */
$blue: rgb(61,88,160);
$light-blue: rgb(71,103,188);
$pale-blue: #A6ABEE;
$dark-blue: rgb(39,45,135);
$dry-dark-blue: rgb(33,43,73);
$green: rgb(105,163,42);
$dark-green: rgb(50,78,27);
$light-green: #99D656;
$cream: rgb(253,255,246);
$dark-goldenrod: rgb(168, 134, 0);
