.account-meta .rank-image {
  max-height: 1.1em;
}

.account-meta .separator {
  display: inline-block;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.btn-rank.btn-link:hover,
.btn-rank.btn-link:focus {
  text-decoration: none;
}

.AvatarStack-body .avatar.account-hero-avatar {
  width: 45px;
  height: 45px;
  background-color: transparent;
}

.AvatarStack.AvatarStack--three-plus.account-avatar-stack {
  min-width: 69px;
}

.AvatarStack.account-avatar-stack {
  height: 45px;
}

.AvatarStack.account-avatar-stack .avatar + .avatar {
  opacity: 0.5;
  width: 40px;
  height: 40px;
}

.AvatarStack.account-avatar-stack .avatar + .avatar + .avatar {
  opacity: 0.3;
  width: 35px;
  height: 35px;
}

.AvatarStack.account-avatar-stack .AvatarStack-body:hover .avatar + .avatar {
  opacity: 1;
  width: 45px;
  height: 45px;
}

.account-avatar-stack.AvatarStack--right .avatar {
  margin-left: -25px;
  border-left: 0;
}

.account-avatar-stack.AvatarStack--right .AvatarStack-body:hover .avatar {
  margin-left: -5px;
}

.theme-dark .Box .AvatarStack-body .avatar.account-hero-avatar {
  background-color: #2f363d;
}

.show-on-hover {
  visibility: hidden;
}

.account-list-item:hover .show-on-hover {
  visibility: visible;
}
