.account-meta .rank-image {
  max-height: 1.1em;
}

.btn-rank.btn-link:hover,
.btn-rank.btn-link:focus {
  text-decoration: none;
}

.theme-dark .Box .AvatarStack-body .avatar.account-hero-avatar {
  background-color: #2f363d;
}
