.disabled-hero {
  text-decoration: line-through;
}

.text-ana {
  color: #408fff;
}

.text-bastion {
  color: #818e9c;
}

.text-baptiste {
  color: #e6a563;
}

.text-brigitte {
  color: #ac5b3b;
}

.disabled .text-brigitte {
  color: #cb8468;
}

.text-doomfist {
  color: #e04e34;
}

.disabled .text-doomfist {
  color: #ea8876;
}

.text-dva {
  color: #ff4de3;
}

.text-genji {
  color: #00f21d;
}

.text-hanzo {
  color: #776931;
}

.text-junkrat {
  color: #d39308;
}

.text-lucio {
  color: #2cd13f;
}

.text-mccree {
  color: #d44124;
}

.text-mei {
  color: #009be8;
}

.text-mercy {
  color: #998700;
}

.text-moira {
  color: #691ccf;
}

.disabled .text-moira {
  color: #9150e7;
}

.text-orisa {
  color: #9fbc30;
}

.disabled .text-orisa {
  color: #bfd762;
}

.text-pharah {
  color: #008ff5;
}

.text-reaper {
  color: #000000;
}

.text-reinhardt {
  color: #81736b;
}

.text-roadhog {
  color: #f9c907;
}

.text-soldier76 {
  color: #fd0d15;
}

.text-ashe {
  color: rgb(64, 61, 59);
}

.text-sombra {
  color: #9743ad;
}

.disabled .text-sombra {
  color: #b774c9;
}

.text-symmetra {
  color: #00ccff;
}

.text-torbjorn {
  color: #b38900;
}

.text-tracer {
  color: #ffb803;
}

.text-widowmaker {
  color: #95a2ea;
}

.text-winston {
  color: #414f68;
}

.text-wrecking-ball {
  color: rgb(255, 117, 31);
}

.text-zarya {
  color: #ea4d98;
}

.text-zenyatta {
  color: #897f69;
}

.theme-dark .text-bastion {
  color: #bac1c9;
}

.theme-dark .text-brigitte {
  color: #d2947b;
}

.theme-dark .disabled .text-brigitte {
  color: #cb8468;
}

.theme-dark .disabled .text-doomfist {
  color: #e04e34;
}

.theme-dark .disabled .text-orisa {
  color: #9fbc30;
}

.theme-dark .text-hanzo {
  color: #b9a555;
}

.theme-dark .text-mccree {
  color: #e0634b;
}

.theme-dark .text-mercy {
  color: #ffe100;
}

.theme-dark .text-moira {
  color: #9f67ea;
}

.theme-dark .disabled .text-moira {
  color: #9150e7;
}

.theme-dark .text-reaper {
  color: #b3b3b3;
}

.theme-dark .text-reinhardt {
  color: #b1a7a1;
}

.theme-dark .text-ashe {
  color: rgb(189, 181, 175);
}

.theme-dark .text-soldier76 {
  color: #fd4046;
}

.theme-dark .text-sombra {
  color: #c186d0;
}

.theme-dark .disabled .text-sombra {
  color: #b774c9;
}

.theme-dark .text-winston {
  color: #6c80a3;
}

.theme-dark .text-zenyatta {
  color: #b7b0a1;
}
