.form-group .sr-field.form-control {
  width: 4.5em;
  padding: 10px 15px;
  font-size: 26px;
  line-height: 1;
}

.label-lg {
  font-size: 20px;
}

.form-group .form-select.select-lg {
  height: 40px;
  min-height: 40px;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 20px;
}

.text-ally { color:#337ebe; }
.text-enemy { color:#de2d43; }
