.hero-portrait-container {
  height: 20px;
}

.match-cell,
.match-header {
  border: 1px solid #000;
  padding: 0.3em 0.6em;
}

.match-cell {
  text-align: center;
}

.match-header {
  background-color: #bed6ed;
}

.match-placement-log-row .match-cell {
  background-color: #9dc3e3;
}

.match-cell.heroes-cell {
  padding-bottom: 0;
}

.match-placement-row .match-cell.sr-change-cell,
.match-placement-row .match-cell.rank-cell,
.match-placement-row .match-cell.comment-cell,
.match-placement-row .match-cell.time-cell,
.match-placement-row .match-cell.heroes-cell,
.match-placement-row .match-cell.throwers-leavers-cell,
.match-placement-row .match-cell.options-cell,
.match-placement-row .match-cell.friends-cell {
  background-color: #efefef;
}

.match-placement-log-row .match-cell.rank-cell,
.match-placement-row.match-last-placement-row .match-cell.rank-cell {
  background-color: #fed86e;
}

.rank-cell.worse-than-placement,
.result-loss.result-cell {
  background-color: #fc0d1b;
}

.rank-cell.better-than-placement,
.result-win.result-cell {
  background-color: #a9cf90;
}

.result-draw.result-cell {
  background-color: #fed86e;
}

.match-number-cell,
.match-placement-log-row .match-number-cell.match-cell {
  background-color: #d0cece;
}

.match-number-cell.match-placement-number-cell {
  background-color: #e8e8e8;
}

.streak-empty {
  background-color: #ddd;
}

.background-junkertown {
  background-color: #f4b531;
}

.background-hanamura {
  background-color: #f9e4f8;
}

.background-temple-of-anubis {
  background-color: #edc28e;
}

.background-volskaya-industries {
  background-color: #b0a9d7;
}

.background-dorado {
  background-color: #d19267;
}

.background-route-66 {
  background-color: #ddbf9f;
}

.background-watchpoint-gibraltar {
  background-color: #c0a6b5;
}

.background-eichenwalde {
  background-color: #a1ad7b;
}

.background-blizzard-world {
  background-color: #2aa6fb;
}

.background-hollywood {
  background-color: #92d8fd;
}

.background-king-s-row {
  background-color: #a1bfc5;
}

.background-numbani {
  background-color: #cad298;
}

.background-ilios {
  background-color: #a0eafd;
}

.background-lijiang-tower {
  background-color: #d3a096;
}

.background-nepal {
  background-color: #deeafe;
}

.background-oasis {
  background-color: #fdf4a6;
}

.background-horizon-lunar-colony {
  background-color: #c6c5c0;
}

.background-rialto {
  background-color: #87d0a4;
}
