.hero-portrait-container {
  height: 20px;
}

.match-cell,
.match-header {
  border: 1px solid #000;
  padding: 0.3em 0.6em;
}

.match-cell {
  text-align: center;
}

.match-header {
  background-color: #bed6ed;
}

.match-placement-log-row .match-cell {
  background-color: #9dc3e3;
}

.match-cell.heroes-cell {
  padding-bottom: 0;
}

.match-placement-row .match-cell.sr-change-cell,
.match-placement-row .match-cell.rank-cell,
.match-placement-row .match-cell.comment-cell,
.match-placement-row .match-cell.time-cell,
.match-placement-row .match-cell.heroes-cell,
.match-placement-row .match-cell.throwers-leavers-cell,
.match-placement-row .match-cell.options-cell,
.match-placement-row .match-cell.group-cell,
.match-placement-row .match-cell.potg-cell {
  background-color: #efefef;
}

.match-cell.group-cell span + span {
  margin-left: 0.5em;
}

.match-placement-log-row .match-cell.rank-cell,
.match-placement-row.match-last-placement-row .match-cell.rank-cell {
  background-color: #fed86e;
}

.rank-cell.worse-than-placement,
.result-loss.result-cell {
  background-color: #fc0d1b;
}

.rank-cell.better-than-placement,
.result-win.result-cell {
  background-color: #a9cf90;
}

.result-draw.result-cell {
  background-color: #fed86e;
}

.match-number-cell,
.match-placement-log-row .match-number-cell.match-cell {
  background-color: #d0cece;
}

.match-number-cell.match-placement-number-cell {
  background-color: #e8e8e8;
}

.streak-empty {
  background-color: #ddd;
}

.background-junkertown {
  background-color: #f4b531;
}

.background-hanamura {
  background-color: #f9e4f8;
}

.background-temple-of-anubis {
  background-color: #edc28e;
}

.background-volskaya-industries {
  background-color: #b0a9d7;
}

.background-dorado {
  background-color: #d19267;
}

.background-route-66 {
  background-color: #ddbf9f;
}

.background-watchpoint-gibraltar {
  background-color: #c0a6b5;
}

.background-eichenwalde {
  background-color: #a1ad7b;
}

.background-busan {
  background-color: #f19554;
}

.background-blizzard-world {
  background-color: #2aa6fb;
}

.background-havana {
  background-color: #77e3d1;
}

.background-hollywood {
  background-color: #92d8fd;
}

.background-king-s-row {
  background-color: #a1bfc5;
}

.background-numbani {
  background-color: #cad298;
}

.background-paris {
  background-color: #f0d5c0;
}

.background-ilios {
  background-color: #a0eafd;
}

.background-lijiang-tower {
  background-color: #d3a096;
}

.background-nepal {
  background-color: #deeafe;
}

.background-oasis {
  background-color: #fdf4a6;
}

.background-horizon-lunar-colony {
  background-color: #c6c5c0;
}

.background-rialto {
  background-color: #87d0a4;
}

.theme-dark .background-busan {
  background-color: #d56c43;
}

.theme-dark .background-junkertown {
  background-color: #b57e0a;
}

.theme-dark .background-hanamura {
  background-color: #86385c;
}

.theme-dark .background-temple-of-anubis {
  background-color: #a76c40;
}

.theme-dark .background-volskaya-industries {
  background-color: #7063b7;
}

.theme-dark .background-dorado {
  background-color: #a15e31;
}

.theme-dark .background-route-66 {
  background-color: #994e49;
}

.theme-dark .background-watchpoint-gibraltar {
  background-color: #58423f;
}

.theme-dark .background-eichenwalde {
  background-color: #546857;
}

.theme-dark .background-blizzard-world {
  background-color: #0471bb;
}

.theme-dark .background-havana {
  background-color: #44867b;
}

.theme-dark .background-hollywood {
  background-color: #c68664;
}

.theme-dark .background-king-s-row {
  background-color: #425a5c;
}

.theme-dark .background-numbani {
  background-color: #566036;
}

.theme-dark .background-paris {
  background-color: #7c6785;
}

.theme-dark .background-ilios {
  background-color: #788bce;
}

.theme-dark .background-lijiang-tower {
  background-color: #b55f4e;
}

.theme-dark .background-nepal {
  background-color: #5a7cc6;
}

.theme-dark .background-oasis {
  background-color: #b37061;
}

.theme-dark .background-horizon-lunar-colony {
  background-color: #3d3939;
}

.theme-dark .background-rialto {
  background-color: #789c86;
}

.theme-dark .darken-change {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.theme-dark .darken-change-win {
  background-color: rgba(35, 103, 0, 0.5);
}

.theme-dark .darken-change-loss {
  background-color: rgba(175, 18, 27, 0.5);
}

.theme-dark .darken-change-draw {
  background-color: #a88600;
}


.theme-dark .match-placement-row .match-cell.sr-change-cell,
.theme-dark .match-placement-row .match-cell.rank-cell,
.theme-dark .match-placement-row .match-cell.comment-cell,
.theme-dark .match-placement-row .match-cell.time-cell,
.theme-dark .match-placement-row .match-cell.heroes-cell,
.theme-dark .match-placement-row .match-cell.throwers-leavers-cell,
.theme-dark .match-placement-row .match-cell.options-cell,
.theme-dark .match-placement-row .match-cell.group-cell,
.theme-dark .match-placement-row .match-cell.potg-cell {
  background-color: #3a434b;
}

.theme-dark .match-number-cell.match-cell,
.theme-dark .match-placement-log-row .match-number-cell.match-cell {
  background-color: #444d56;
  color: #d1d5da;
}

.theme-dark .rank-cell.better-than-placement,
.theme-dark .result-win.result-cell {
  background-color: #69a32a;
  color: #f8f9f7;
}

.theme-dark .result-draw.result-cell,
.theme-dark .streak-empty {
  background-color: #a88600;
}

.theme-dark .match-placement-log-row .match-cell,
.theme-dark .match-placement-log-row .match-cell.streak-empty {
  background-color: #2f363d;
}

.theme-dark .match-placement-log-row .match-cell.rank-cell,
.theme-dark
  .match-placement-row.match-last-placement-row
  .match-cell.rank-cell {
  background-color: #a77d0a;
}

.theme-dark .rank-cell.worse-than-placement,
.theme-dark .result-loss.result-cell {
  background-color: #af121b;
  color: #f9e3e4;
}

.css-truncate .css-truncate-target.comment-truncate-target {
  max-width: 11em;
}

.css-truncate .css-truncate-target.group-truncate-target {
  max-width: 11em;
}

.throwers-leavers-cell .Counter + .Counter {
  margin-left: 5px;
}
