.layout-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.layout-children-container {
  flex: 1 0 auto;
}

.container {
  width: 95%;
}

@media (max-width: 1010px) {
  .d-inline-block-below-lg {
    display: inline-block !important;
  }

  .hide-below-lg {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .d-flex-md {
    display: flex !important;

    &.d-none {
      display: none !important;
    }
  }

  .mr-3-md {
    margin-right: 16px !important;
  }

  .mb-4-md {
    margin-bottom: 24px !important;
  }

  .ml-4-md {
    margin-left: 24px !important;
  }

  .mr-4-md {
    margin-right: 24px !important;
  }

  .pl-2-md {
    padding-left: 8px !important;
  }

  .pr-2-md {
    padding-right: 8px !important;
  }

  .pl-3-md {
    padding-left: 16px !important;
  }

  .pr-3-md {
    padding-right: 16px !important;
  }

  .pl-4-md {
    padding-left: 24px !important;
  }

  .pr-4-md {
    padding-right: 24px !important;
  }

  .flex-items-center-md {
    align-items: center !important;
  }

  .flex-justify-between-md {
    justify-content: space-between !important;
  }
}

.breadcrumb-item::after {
  padding-right: 0.8em;
}
