.layout-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.layout-children-container {
  flex: 1 0 auto;
}

.container {
  width: 95%;
}

.select-menu-modal {
  font-size: 14px;
}

.theme-dark {
  background-color: #24292e;
  color: #e1e4e8;
}

.theme-dark .UnderlineNav-item {
  color: #ccc;
}

.theme-dark .UnderlineNav-item.selected {
  border-bottom-color: #a6abee;
}

.theme-dark .Counter {
  color: #e1e4e8;
  background-color: rgba(200,200,200,0.15);
}

.theme-dark .h1,
.theme-dark .h2,
.theme-dark .h3 {
  color: #959da5;
}

.theme-dark .h4,
.theme-dark .comment-cell {
  color: #d1d5da;
}

.theme-dark .link-gray-dark {
  color: #ccc !important;
}

.theme-dark .link-gray-dark:hover,
.theme-dark .link-gray-dark:focus {
  color: #fff !important;
}

.theme-dark a,
.theme-dark .btn-link,
.theme-dark a.h1,
.theme-dark a.h2,
.theme-dark a.h3,
.theme-dark .blankslate a.h1,
.theme-dark .Box a.h1,
.theme-dark .dropdown-menu a.h1,
.theme-dark .blankslate a.h2,
.theme-dark .Box a.h2,
.theme-dark .dropdown-menu a.h2,
.theme-dark .blankslate a.h3,
.theme-dark .Box a.h3,
.theme-dark .dropdown-menu a.h3 {
  color: #a6abee;
}

.theme-dark .match-header {
  background-color: #212b49;
}

.theme-dark .border-top,
.theme-dark .border-bottom,
.theme-dark .border,
.theme-dark .border-left,
.theme-dark .border-right,
.theme-dark hr,
.theme-dark .UnderlineNav {
  border-color: #464f59 !important;
}

.theme-dark .text-gray {
  color: #d1d5da !important;
}

.theme-dark .text-gray-dark {
  color: #e1e4e8 !important;
}

.theme-dark .text-orange {
  color: #ffab70 !important;
}

.theme-dark .text-red {
  color: #f97583 !important;
}

.theme-dark .note {
  color: #d1d5da;
}

.theme-dark .match-cell,
.theme-dark .match-header {
  border-color: #2f363d;
}

.theme-dark .blankslate,
.theme-dark .Box {
  background-color: #2f363d;
  border-color: #444d56;
}

.theme-dark .blankslate .h1,
.theme-dark .blankslate .h2,
.theme-dark .blankslate .h3 {
  color: #d1d5da;
}

.theme-dark .btn-outline {
  background-color: #586069;
}

.theme-dark .btn-primary.btn-large {
  background-color: #4271a0;
}

.theme-dark .btn-primary.btn-large:disabled {
  color: #ccc;
}

.theme-dark .btn-primary.btn-large:disabled:hover {
  background-color: #4271a0;
}

.theme-dark .btn-primary.btn-large:not(:disabled):hover {
  background-color: #276aad;
}

.theme-dark .btn,
.theme-dark .form-control,
.theme-dark .form-select {
  border-color: #4a5158;
}

.theme-dark .form-control::placeholder {
  color: #999;
}

.theme-dark .btn {
  background-color: #586069;
  background-image: none;
  color: #fff;
}

.theme-dark .btn:disabled {
  color: #999;
}

.theme-dark .btn:hover {
  background-color: #444d56;
  background-image: none;
}

.theme-dark .btn:disabled:hover {
  background-color: #586069;
}

.theme-dark .form-control,
.theme-dark .form-select,
.theme-dark .form-group .form-control:focus {
  background-color: rgba(40, 40, 40, 0.4);
  color: #fff;
}

.theme-dark .select-menu-modal {
  background-color: #444d56;
  color: #fff;
}

.theme-dark .select-menu-item {
  border-color: #4f5d6d;
}

.theme-dark .select-menu-item.selected {
  color: #fff;
}

@supports (position: sticky) {
  @media (min-width: 768px) {
    .theme-dark .sticky-nav {
      background-color: #24292e;
    }
  }
}

@media (max-width: 1010px) {
  .d-inline-block-below-lg {
    display: inline-block !important;
  }

  .hide-below-lg {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .d-flex-md {
    display: flex !important;

    &.d-none {
      display: none !important;
    }
  }

  .mr-3-md {
    margin-right: 16px !important;
  }

  .mb-4-md {
    margin-bottom: 24px !important;
  }

  .ml-4-md {
    margin-left: 24px !important;
  }

  .mr-4-md {
    margin-right: 24px !important;
  }

  .pl-2-md {
    padding-left: 8px !important;
  }

  .pr-2-md {
    padding-right: 8px !important;
  }

  .pl-3-md {
    padding-left: 16px !important;
  }

  .pr-3-md {
    padding-right: 16px !important;
  }

  .pl-4-md {
    padding-left: 24px !important;
  }

  .pr-4-md {
    padding-right: 24px !important;
  }

  .flex-items-center-md {
    align-items: center !important;
  }

  .flex-justify-between-md {
    justify-content: space-between !important;
  }
}

@media (min-width: 1012px) {
  .pl-3-lg {
    padding-left: 16px !important;
  }

  .pr-3-lg {
    padding-right: 16px !important;
  }
}

.breadcrumb-item::after {
  padding-right: 0.8em;
}
